<%- include('partials/header.ejs') %>
        <h1> Welcome to Mercury </h1>
        <img src="/img/mercury.jpg" alt="Mercury" width="350" height="250"/> 
        <p class="info">
        Mercury is the smallest and innermost planet in the Solar System. 
        Its orbit around the Sun takes 87.97 days, the shortest of all the planets in the Solar System. 
        It is named after the Roman deity Mercury, the messenger of the gods.
        Mercury orbits the Sun within Earth's orbit as an inferior planet, 
        and its apparent distance from the Sun as viewed from Earth never exceeds 28°.
        </p>
<%- include('partials/footer.ejs') %>
